@-webkit-keyframes rotation-icons {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation-icons {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes progressive {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes progressive {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
