@import "libs/reset.scss";
@import "libs/responsive.scss";
@import "libs/variables.scss";
@import "libs/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");

body {
  font-family: "Roboto", "sans-serif";

  h4 {
    font-family: "Shrikhand", "sans-serif";
  }
}

@media #{$medium-down} {
  body {
    width: 100%;
  }

  /* Header */

  .ohmyfood-title {
    @include flex-center;
    margin: 22px auto 9px auto;
    width: 100%;
  }

  .logo-ohmyfood {
    width: 177px;
  }

  /* Localisation */

  .localisation {
    @include flex-center;
    background-color: #dad8d8;
    padding: 14px 0;
    box-shadow: inset 0 7px 9px -8px rgba(0, 0, 0, 0.7);

    .fa-map-marker-alt {
      margin-right: 17px;
      font-size: 16px;
      margin-bottom: 3.5px;
    }

    p {
      font-size: 16px;
      margin-right: 33px;
      font-weight: bold;
    }
  }

  /* Booking */
}
