@import "libs/reset.scss";
@import "libs/responsive.scss";
@import "libs/variables.scss";
@import "libs/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap");

body {
  font-family: "Roboto", "sans-serif";

  h4 {
    font-family: "Shrikhand", "sans-serif";
  }
}

@media #{$medium-down} {
  body {
    width: 100%;
  }

  .ohmyfood-title {
    @include flex-center;
    margin: 20px auto;
  }
}
