@import "libs/reset.scss";
@import "libs/responsive.scss";
@import "libs/variables.scss";
@import "libs/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");

body {
  font-family: "Roboto", "sans-serif";

  h4 {
    font-family: "Shrikhand", "sans-serif";
  }
}

@media #{$medium-down} {
  body {
    width: 100%;
  }

  /* Header */

  .ohmyfood-title {
    @include flex-center;
    margin: 20px auto;
  }

  /* Localisation */

  .localisation {
    @include flex-center;
    background-color: #f2f2f2;
    padding: 13px 0;

    .fa-map-marker-alt {
      margin-right: 31px;
    }

    p {
      font-size: 17px;
      margin-right: 36px;
    }
  }
}
